<div class="weui-panel">
    <div class="weui-panel__hd weui-panel__hd00"><span>&lt;</span></div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <img src="images/my.png" alt="">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>HDZ</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                   
                    <div class="weui-cell__bd weui-cell_primary">
                        <p><span>关注：25</span><span>粉丝：7</span><span>访客：548</span></p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="weui-panel">
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                   
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>我的分享</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>我的博客</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>我的问答</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>我的论坛</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="weui-panel">
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>浏览历史</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>离线阅读</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="weui-panel">
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>我的下载</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>我的收藏</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>设置</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>
</div>

